Repository 240624-Java-Full-Stack-HTD-Infosys/RevShop-Capstone-P2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Warmedpie, @angelaW879, @wsrn829, @EnockKal, @waiyathamdani

Need to pull
  client/.vs/ProjectSettings.json
  client/.vs/client/FileContentIndex/122f2f8a-365c-4fb8-9ff7-7687634afd6b.vsidx
  client/.vs/client/FileContentIndex/8890fb04-cd12-454a-bb0f-de28350a7e14.vsidx
  client/.vs/client/FileContentIndex/aaad3670-d821-4258-83f0-28a71d6b0f43.vsidx
  client/.vs/client/FileContentIndex/read.lock
  client/.vs/slnx.sqlite
  client/src/Interface/types.d.ts
  client/src/Pages/History.tsx
  server/RevShop/src/main/java/net/revature/RevShop/Controllers/ProductController.java
  server/RevShop/src/main/java/net/revature/RevShop/Models/Category.java
  server/RevShop/src/main/java/net/revature/RevShop/Models/Product.java
Owners: @wsrn829, @Warmedpie, @angelaW879

review controller and frontend implementation. prototype only, not yet tested.
  client/package.json
  client/src/review/Review.jsx
  server/RevShop/src/main/java/net/revature/RevShop/Controllers/ReviewController.java
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/ProductRepository.java
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/ReviewRepository.java
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/UserRepository.java
  server/RevShop/src/main/java/net/revature/RevShop/Services/ReviewService.java
Owners: @wsrn829, @Warmedpie, @angelaW879

Front end order history no style
  client/.vs/VSWorkspaceState.json
  client/.vs/client/FileContentIndex/122f2f8a-365c-4fb8-9ff7-7687634afd6b.vsidx
  client/.vs/client/FileContentIndex/24c7cde3-9be6-4bef-a472-20286170f6b6.vsidx
  client/.vs/client/FileContentIndex/25f66687-8b1d-400e-b98c-ec70a3da1fbb.vsidx
  client/.vs/client/FileContentIndex/8890fb04-cd12-454a-bb0f-de28350a7e14.vsidx
  client/.vs/client/FileContentIndex/9b4e528d-28f6-47c2-951c-ac982555e930.vsidx
  client/.vs/client/FileContentIndex/aaad3670-d821-4258-83f0-28a71d6b0f43.vsidx
  client/.vs/client/FileContentIndex/f28431ae-fd8f-42cc-967c-b5a3c89191a5.vsidx
  client/.vs/client/v17/.wsuo
  client/.vs/slnx.sqlite
  client/src/App.tsx
  client/src/Interface/types.d.ts
  client/src/Pages/History.tsx
  client/src/Pages/OrderHistory/OrderHistory.tsx
  client/src/Pages/OrderHistory/OrderListComp.tsx
  client/src/Pages/Product.tsx
  server/RevShop/src/main/java/net/revature/RevShop/Controllers/HistoryController.java
Owners: @wsrn829, @Warmedpie, @angelaW879

Pagination Added To Products
  client/src/App.tsx
  client/src/CSS/pagination.css
  client/src/Feature/ProductPagination.js
  client/src/Feature/Products.js
  client/src/Pages/Product.tsx
  client/src/Pages/ProductName.tsx
  client/src/logopics/download.jpg
  server/RevShop/src/main/java/net/revature/RevShop/Controllers/ProductController.java
  server/RevShop/src/main/java/net/revature/RevShop/Models/Category.java
  server/RevShop/src/main/java/net/revature/RevShop/Models/Product.java
  server/RevShop/src/main/java/net/revature/RevShop/Models/User.java
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/ProductRepository.java
Owners: @wsrn829, @Warmedpie, @angelaW879

Added style and page switching
  .vs/ProjectSettings.json
  .vs/RevShop-Capstone-P2/FileContentIndex/7346598f-6ba1-48b5-9f04-23356e076bd3.vsidx
  .vs/RevShop-Capstone-P2/FileContentIndex/read.lock
  .vs/RevShop-Capstone-P2/v17/.wsuo
  .vs/VSWorkspaceState.json
  .vs/slnx.sqlite
  client/.vs/client/FileContentIndex/02ad3271-522a-4b06-8058-aea50fac1d68.vsidx
  client/.vs/client/FileContentIndex/24c7cde3-9be6-4bef-a472-20286170f6b6.vsidx
  client/.vs/client/FileContentIndex/25f66687-8b1d-400e-b98c-ec70a3da1fbb.vsidx
  client/.vs/client/FileContentIndex/34fb7420-5fe0-4eb9-875b-214929bf1585.vsidx
  client/.vs/client/FileContentIndex/68e5546a-877b-478d-a810-56f2be7b8ef1.vsidx
  client/.vs/client/FileContentIndex/9b4e528d-28f6-47c2-951c-ac982555e930.vsidx
  client/.vs/client/FileContentIndex/af52477c-5367-49ac-94d7-13e0df2db1e6.vsidx
  client/.vs/client/FileContentIndex/f28431ae-fd8f-42cc-967c-b5a3c89191a5.vsidx
  client/.vs/client/v17/.wsuo
  client/.vs/slnx.sqlite
  client/src/Pages/OrderHistory/Order.css
  client/src/Pages/OrderHistory/OrderHistory.tsx
  client/src/Pages/OrderHistory/OrderListComp.tsx
  client/src/Pages/OrderHistory/OrderListHeader.tsx
Owners: @Warmedpie, @wsrn829

Update CartController.java
  server/RevShop/src/main/java/net/revature/RevShop/Controllers/CartController.java
Owners: @angelaW879, @Warmedpie

Repository update
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/CartRepository.java
Owners: @angelaW879, @Warmedpie

Service update
  server/RevShop/src/main/java/net/revature/RevShop/Services/CartService.java
Owners: @angelaW879, @Warmedpie

Security update
  server/RevShop/src/main/java/net/revature/RevShop/Security/SecurityConfig.java
Owners: @angelaW879, @Warmedpie

Added check for last page
  client/.vs/client/FileContentIndex/35700f9d-b025-475b-947d-c04afeca3885.vsidx
  client/.vs/client/FileContentIndex/68e5546a-877b-478d-a810-56f2be7b8ef1.vsidx
  client/src/Pages/OrderHistory/OrderHistory.tsx
Owners: @wsrn829, @Warmedpie

review repo updates
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/ReviewRepository.java
  server/RevShop/src/main/java/net/revature/RevShop/Services/ReviewService.java
  server/RevShop/src/test/java/net/revature/RevShop/RevShopApplicationTests.java
Owners: @angelaW879, @Warmedpie, @EnockKal, @waiyathamdani

Addressed problem with user creation.
  server/RevShop/src/main/java/net/revature/RevShop/Controllers/UserController.java
  server/RevShop/src/main/java/net/revature/RevShop/Security/CorsConfig.java
Owners: @angelaW879, @Warmedpie

waiyat adding something
  client/src/App.tsx
  client/src/CSS/wProduct.css
  client/src/CSS/waiyat.css
  client/src/Interface/types.d.ts
  client/src/Pages/Product.tsx
  client/src/Pages/ProductDetails.tsx
  client/src/Pages/waiyatNavbar.tsx
Owners: @wsrn829, @Warmedpie

waiyat pushing the products changes for braxton
  client/src/Pages/Product.tsx
Owners: @wsrn829, @Warmedpie

waiyat pushing the products changes for braxton
  client/src/Pages/waiyatNavbar.tsx
  server/RevShop/src/main/java/net/revature/RevShop/Controllers/ProductController.java
  server/RevShop/src/main/java/net/revature/RevShop/Services/ProductService.java
Owners: @wsrn829, @Warmedpie, @angelaW879

NavBAr and Organization for pages and components
  client/src/App.tsx
  client/src/Pages/CartPage/CartPage.tsx
  client/src/Pages/HomePage/Home.tsx
  client/src/Pages/NAVBAR/NavBar.css
  client/src/Pages/NAVBAR/NavBar.tsx
  client/src/Pages/ProductPage/Product.tsx
  client/src/Pages/ProductPage/ProductPage.tsx
  client/src/Pages/ProfilePage/ProfilePage.tsx
Owners: @wsrn829, @Warmedpie

Paginate and Search Product by Keyword
  client/src/Pages/Product.tsx
  client/src/Pages/ProductName.tsx
  server/RevShop/src/main/java/net/revature/RevShop/Controllers/ProductController.java
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/ProductRepository.java
  server/RevShop/src/main/java/net/revature/RevShop/Security/CorsConfig.java
  server/RevShop/src/main/java/net/revature/RevShop/Services/ProductService.java
Owners: @wsrn829, @Warmedpie, @angelaW879

Paginate and Search Product by Keywords
  client/src/Pages/Product.tsx
  client/src/Pages/ProductName.tsx
Owners: @wsrn829, @Warmedpie

Inventory (`Product`) stock update in backend
  server/RevShop/src/main/java/net/revature/RevShop/Controllers/ProductController.java
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/ProductRepository.java
  server/RevShop/src/main/java/net/revature/RevShop/Services/ProductService.java
Owners: @angelaW879, @Warmedpie

order details done
  server/RevShop/src/main/java/net/revature/RevShop/Controllers/OrderController.java
  server/RevShop/src/main/java/net/revature/RevShop/Controllers/OrderItemController.java
  server/RevShop/src/main/java/net/revature/RevShop/DTOs/DtoConverter.java
  server/RevShop/src/main/java/net/revature/RevShop/DTOs/OrderDto.java
  server/RevShop/src/main/java/net/revature/RevShop/DTOs/OrderItemDto.java
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/CartRepository.java
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/OrderItemRepository.java
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/OrderRepository.java
  server/RevShop/src/main/java/net/revature/RevShop/Security/SecurityConfig.java
  server/RevShop/src/main/java/net/revature/RevShop/Services/CartService.java
  server/RevShop/src/main/java/net/revature/RevShop/Services/OrderItemService.java
  server/RevShop/src/main/java/net/revature/RevShop/Services/OrderService.java
Owners: @angelaW879, @Warmedpie

Im done , Well this branch just me being productive
  client/src/Pages/FormProduct.tsx
  client/src/Pages/Home.tsx
  client/src/Pages/waiyatNavbar.tsx
  server/RevShop/src/main/java/net/revature/RevShop/Models/Category.java
  server/RevShop/src/main/java/net/revature/RevShop/Services/ProductService.java
Owners: @wsrn829, @Warmedpie, @angelaW879

reviews backend tested via postman
  server/RevShop/src/main/java/net/revature/RevShop/Controllers/ReviewController.java
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/ProductRepository.java
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/ReviewRepository.java
  server/RevShop/src/main/java/net/revature/RevShop/Repositories/UserRepository.java
  server/RevShop/src/main/java/net/revature/RevShop/Services/ReviewService.java
Owners: @angelaW879, @Warmedpie

.github/CODEOWNERS:

*         @Warmedpie
/server/  @angelaW879 @Warmedpie
/client/  @wsrn829 @Warmedpie
/server/RevShop/src/test/java/net/revature/RevShop/ @EnockKal @waiyathamdani
